* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins";
  background-color: #faf7f7;
}

h1,
h2,
h3,
p {
  color: #1c0d0d;
}

header {
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.589);
  border-bottom: 1px solid rgba(16, 24, 40, 0.06);
  width: 100%;
  padding: 15px 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav {
  gap: 21px;
}

.container_header {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

/* logo */
.logo img {
  width: 150px;
  height: auto;
  display: block;
}

/* NAV tengah */
.nav {
  flex: 1;
  display: flex;
  justify-content: right;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
  align-items: center;
}

.nav ul li a {
  color: #1c0d0d;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  padding: 6px 4px;
  transition: 0.3s;
}

.nav a:hover {
  color: #9a3b3b;
}

.nav a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: 2px;
  background: #9a3b3b;
  border-radius: 2px;
}

.nav a.active::after {
  width: 100%;
}

/* kanan */
.nav2 {
  display: flex;
  align-items: center;
  gap: 21px;
}

.icon-btn {
  width: auto;
  height: 35px;
  display: flex;
  border: none;
  background: transparent;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.icon-btn img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pipe {
  width: 3px;
  height: 40px;
  display: flex;
  border: none;
  background: transparent;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
  object-fit: cover;
}

.pipe img {
  width: 100%;
  height: 100%;
  border-radius: 25%;
  justify-items: center;
}

.btn-bergabung {
  background: #000;
  color: #fff;
  border-radius: 15px;
  padding: 9px 21px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

/* Hero */
.hero {
  margin-left: 48px;
  margin-right: 48px;
  margin-bottom: 50px;
  margin-top: 50px;
  border-radius: 12px;
  text-align: left;
  padding: 100px 50px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images_gnrl/batik_hero2.png");
  background-size: cover;
  background-position: center;
  color: white;
  object-fit: cover;
}

.hero h1 {
  color: #fff;
  font-size: 48px;
  padding-right: 100px;
  margin-bottom: 20px;
  font-weight: bold;
}

.hero p {
  color: #ffffffcb;
  font-size: 16px;
  font-weight: 200;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  padding: 9px 21px;
  background: linear-gradient(90deg, #6e2b2b, #8a3434, #a54b4b);
  color: #fff;
  text-decoration: none;
  border-radius: 15px;
  cursor: pointer;
}

.btn:hover {
  background: linear-gradient(90deg, #6e2b2b, #8a3434, #a54b4b) !important;
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

section {
  text-align: center;
  margin: auto;
  padding: 30px 48px;
}
section h2 {
  text-align: left;
  font-size: 28px;
  margin-bottom: 40px;
}

/* Katalog */
.katalog {
  background-color: #faf7f7;
}

.grid-katalog {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.item {
  transition: transform 0.3s ease;
}

.item img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 8px;
}

.item h3 {
  margin-top: 15px;
  font-size: 18px;
  text-align: left;
  margin-left: 18px;
}

.item p {
  font-size: 14px;
  color: #944f4f;
  text-align: left;
  margin-left: 18px;
}

.item:hover {
  transform: translateY(-5px);
}

/* Card */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 50px;
}

.card i {
  font-size: 16px;
}

.card {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  transition: 0.3s;
  display: inline-block;
  flex-direction: column;
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  background: #fff;
  color: #944f4f;
  border: 1px solid rgba(154, 59, 59, 0.4); /*semimerah*/
}

/* Artikel */
.artikel h2 {
  font-size: 28px;
  margin-bottom: 30px;
}

.grid-artikel {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 30px;
}

.artikel-item {
  display: grid;
  background-color: #ffffff;
  border: 1px solid rgba(154, 59, 59, 0.4); /*semimerah*/
  border-radius: 8px;
  padding: 20px;
  transition: transform 0.3s ease;
  text-align: left;
}

.artikel-item:hover {
  transform: translateY(-5px);
}

.artikel-item img {
  justify-content: center;
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 20%;
  margin-bottom: 10px;
}

.artikel-item h3 {
  font-size: 15px;
  margin-bottom: 10px;
}

.artikel-item p {
  font-size: 14px;
  margin-bottom: 10px;
  color: #944f4f;
}

/* footer */
footer.site-footer {
  margin-top: 80px;
  padding: 40px 48px 20px;
  background: #ffff;
  border-top: 1px solid rgba(16, 24, 40, 0.05);
  font-family: "Poppins";
}

.footer-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 40px;
  align-items: start;
}

/* logo dan deskripsi */
.footer-logo img {
  width: 150px;
  height: auto;
  margin-bottom: 10px;
}

.footer-col small {
  display: block;
  font-size: 13px;
  color: #555;
  line-height: 1.6;
}

/* judul kolom */
.footer-col h6 {
  margin-bottom: 14px;
  font-size: 15px;
  font-weight: 600;
  color: #1a1a1a;
}

/* Link umum */
.footer-col a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  color: #444;
  text-decoration: none;
  margin-bottom: 8px;
  transition: 0.3s ease;
}

.footer-col a:hover {
  color: #9a3b3b;
  text-decoration: none;
}

/* Ikon */
.footer-col a i {
  font-size: 16px;
}

/* Bagian bawah footer */
.footer-bottom {
  margin-top: 32px;
  border-top: 1px solid rgba(16, 24, 40, 0.1);
  padding-top: 16px;
  text-align: center;
  font-size: 13px;
  color: #555;
}
